body{
    background-color: antiquewhite;
}
#div2{
    background-color: cadetblue;
    padding: 5px;
    border: 2px dashed rebeccapurple;
    padding-right: 10px;
}
div{
    background-color: cornflowerblue;
    padding: 10px;
    border: 2px solid green;
    margin: 10px;
}